* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    
font-family: 'Roboto', sans-serif;

    background-color: #f0f0f0;
    color: #333;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

header {
    background-color: #5e3066;
    color: #fff;
    text-align: center;
    padding: 20px 0;

}

nav {
    background-color: #252325;



}

nav ul {

    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    flex: auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li:hover {
    background-color: #6d4563;
}

main {

    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

address {
    font-style: normal;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p,
li,
a {
    color: black;
}

hr {
    color: #431f49;

}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

aside {
    float: left;
    width: 30%;
    margin-top: 20px;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #431f49;
    color: #fff;
    clear: both;
}

#meanings li,
ol {
    background-color: #fff;
    padding: 5px;
    list-style-type: disc;
    margin-left: 10px;

}

.catalogo li {
    padding: 5px;
}


.catalogo {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.catalogo li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.catalogo img {
    max-width: 200px;
    margin-right: 20px;
}

.catalogo h3 {
    margin: 0;
}

.carousel-container .slider-frame {
    width: 400px;
    height: auto;
    margin: 20px auto 0;
    overflow: hidden;
}

.carousel-container .slider {
    display: flex;
    padding: 0;
    width: 1600px;
    animation: slide 16s linear infinite;
}

.carousel-container .slide {
    list-style: none;
    width: 400px;
}

.carousel-container img {
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-400px);
    }
    55% {
        transform: translateX(-400px);
    }
    60% {
        transform: translateX(-800px);
    }
    85% {
        transform: translateX(-800px);
    }
    90% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(-1200px);
    }
}


@media screen and (max-width: 768px) {
    header {
        font-size: 20px; 
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 10px 0; 
    }

    main {
        margin: 5px; 
    }

    aside {
        width: 100%; 
        float: none; 
        margin-top: 10px;
    }

}


@media screen and (max-width: 480px) {
    header {
        font-size: 18px; 
    }

   
}

@media screen and (min-width: 1200px) {
    header {
        font-size: 28px; 
    }

    nav ul {
        flex-direction: row; 
    }

    nav ul li {
        padding: 10px; 
    }

    main {
        margin: 20px; 
    }

    aside {
        width: 30%; 
        margin-top: 20px;
    }

}

