/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #5e3066;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #252325;
    

    
}

nav ul {
    
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    flex: auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul li:hover{
    background-color: #6d4563;
}
main {
   
    margin: 10px ;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

address {
    font-style: normal;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
p, li, a {
    color: black;
}
hr {
    color: #431f49;
    
}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

aside {
    float: left;
    width: 30%;
    margin-top: 20px;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #431f49;
    color: #fff;
    clear: both;
}

#meanings li, ol{
    background-color: #fff;
    padding: 5px;
    list-style-type: disc;
    margin-left: 10px;
    
}

.catalogo li{
padding: 5px;
}


.catalogo {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.catalogo li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.catalogo img {
    max-width: 200px;
    margin-right: 20px;
}

.catalogo h3 {
    margin: 0;
}

